/* =========== GOOGLE FONTS ========= */
@import url("https://use.typekit.net/mdx3cvx.css");



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.mayorde18{

  width: 100%;
  color: #fff;


  text-align: center;
  vertical-align: middle;




}
.mayor18{
  text-align: center;
  color: #fff !important;
}
p {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

.body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}


#promotigoForm{
  color: #000 !important;
 
}


/* control de inputs de formulario */

.form-control { 
    background: #fff; /* color inputs form */
    border-radius: 10px;
    position: relative;
    padding-left: 20px;
    padding-right: 45px;
    width: 100%;
    height: 60px;
    border: 2px solid rgb(49, 49, 49);  /* color inputs border */
    box-shadow: 0px 5px 25px rgba(218, 211, 211, 0.3);
    transition: all 0.3s ease-out 0s;
}


/* ============================= 
    BUTTONS CSS
================================ */
.button {
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #8ab34c; /* color de boton */
    color: #fff;
    border: 1px solid transparent;
    position: relative;
    z-index: 1;
    padding: 0 25px;
    overflow: hidden;
  }
  
  .button i {
    padding-left: 20px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    padding: 50%;
    border-radius: 50%;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: all .4s linear;
    transform: translate3d(-50%, -50%, 0) scale(0);
  }
  
  .button:hover {
    color: #ffffff;
  }
  
  .button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale(1.5);
  }
  
  .button.border-button {
    background: transparent;
    color: #8ab34c;
    border-color: #8ab34c;
  }
  
  .button.border-button::before {
    background: rgba(47, 128, 237, 0.16);
  }
  
  .button-lg {
    height: 64px;
  }
  
  .button-sm {
    height: 34px;
    font-size: 16px;
    font-weight: 400;
  }

button {
    transition: all 0.3s ease-out 0s;
  }
  

  .radius-10 {
    border-radius: 10px;
    width: 100%;
  }
  .btn-primary {
    color: #fff;
    background-color: #ea2230 !important;
    border-color: #ea2230 !important;
    margin: 1% !important;
  width: 90%;}
    

  
/* ============================= 
    PRELOADER CSS
================================ */
.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: #ffffff;
    z-index: 99999;
  }
  
  .preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .preloader .loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
  }
  
  .preloader .loader .spinner .spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: spinner-linspin 1568.2353ms linear infinite;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
  }
  
  .preloader .loader .spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #eb2230 #ff9358 #ffc09e;
    border-radius: 50%;
    border-width: 6px;
  }
  
  .preloader .loader .spinner-left .spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #ffc09e;
    animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .preloader .loader .spinner-right .spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #ffc09e;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  /* Preloader Animations */
  
  @keyframes spinner-linspin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-easespin {
    12.5% {
      transform: rotate(135deg);
    }
    25% {
      transform: rotate(270deg);
    }
    37.5% {
      transform: rotate(405deg);
    }
    50% {
      transform: rotate(540deg);
    }
    62.5% {
      transform: rotate(675deg);
    }
    75% {
      transform: rotate(810deg);
    }
    87.5% {
      transform: rotate(945deg);
    }
    to {
      transform: rotate(1080deg);
    }
  }
  
  @keyframes spinner-left-spin {
    0% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    to {
      transform: rotate(130deg);
    }
  }
  
  @keyframes right-spin {
    0% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-130deg);
    }
  }

  
/* ============================= 
    TYPOGRAPHY CSS
================================ */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color: #fff; /* color de la fuente hs */
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

h1, .h1 {
  font-size: 80px;
  letter-spacing: .7px;
}

h2, .h2 {
  font-size: 60px;
  letter-spacing: .7px;
}

h3, .h3 {
  font-size: 40px;
  letter-spacing: .4px;
}

h4, .h4 {
  font-size: 30px;
  letter-spacing: .35px;
}

h5, .h5 {
  font-size: 24px;
}

h6, .h6 {
  font-size: 20px;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-light {
  font-weight: 300;
}

.body-font-size {
  font-size: 16px;
}

.font-size-sm {
  font-size: 14px;
}

.font-size-xs {
  font-size: 12px;
}

.caption-font-size {
  font-size: 14px;
}

p {

  line-height: 24px;
  margin-bottom: 0px;
}

.padding{
    padding-top: 20px !important;
}
  

  .metadescription{
    padding-bottom: 12px !important; 
    color: #00336a;
    text-align: center;
  }

  .mb-15{
    font-size: 1.7em;
    color: #fff;
    text-align: center;
    font-weight: 500;
  }

  .grande{
    font-size: 1.5em;
  }

  .mb-16{
    font-size: 0.9em;
    color: #8ab34c;
    text-align: center;
  }
/*body */

  body {
		

	
		background-position: center center;
		

		background-repeat: no-repeat;
	
		background-attachment: fixed;
		
		background-size: cover;
		font-family: "Heebo", sans-serif;
  color: #8ab34c; /*color de todas las fuentes */
	
	  }
	  
    /* Productos */
    .imagenMobile{
      width: 85%;
      height: 100%;
      display:block;
      margin:auto;
    }



    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: -60px;
      margin-right: auto;
    height: 100%;
      float: center;
    }
    @media (min-width: 576px){
      .modal-dialog {
      margin: 1rem auto !important;
    }
    .modal-content {
      width: 150% !important;
      margin-left: -28% !important;
    }
  }


    @media only screen and (min-width: 767px){
      body{
      
		background-image: url(../img/Background.webp);
    }
    .productoMobile{
      display: none;
    }

    .productoDesktop{
      display: block;
    }

		}


	  @media only screen and (max-width: 767px){
      body{
        background-image: url(../img/fondo767.jpg);
    }
    
    .productoMobile{
      display: block;
    }
 
    .productoDesktop{
      display: none;
    }

    .mb-16 {
      font-size: 0.8em;
      color: #00336a;
      text-align: center;
    }
    .mb-15{
    
      color: #fff;
      text-align: center;
      font-weight: 500;
      width: 88%;
      margin-left: 4%;

     
		}

    #promotigoForm {
      color: #000 !important;
      width: 91%;
      margin-left: 3%;

}

    }


    /* Modals */
    .modal-title{
    color :#00336a;
    }


    .modal-body{
      color :#00336a;
      }
  
    .nombreLabels{
     
      color: #fff !important;
      text-align: left !important;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      width: 90%;
      max-width: 90%;
      margin-left: 2%;
    }

    p {
      color: #fff !important;
    }

    .centrado{

      display:block;
      margin:auto;
    }

    .lasmarcas{
      padding-top: 20px;
      padding-bottom: 10px;
    }
    @media (min-width: 300px) and (max-width: 349px){
      .logoDesktop{
        display: none;
  
      }
  
  .textoSuperior{
    display: none;
  }
  
  #mobile{
    display:block !important;
    font-size: 0.7em;
    width: 90%;
    margin-bottom: 8%;
    font-weight: 400;
    text-align: center;
    margin-left: 4%;
    margin-top: 6%;
  }
  
  #desktop{
  
    display: none !important;
    }
  
  .completa{

  
    font-style: normal;
    font-size: 1em;
   
    color: #FFF;
    width: 97%;
    display: block;
    margin-left: 0%;
  }
  .imagenMobile {
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
  }

  .mb-15{

    font-size: 1.1em;
    color: #00336a;
    text-align: center;
    font-family: 'Poppins', sans-serif;

  }
  
  
  } 


    @media (min-width: 350px) and (max-width: 399px){
      .logoDesktop{
        display: none;
  
      }
  
  .textoSuperior{
    display: none;
  }
  
  #mobile{
    display:block !important;
    font-size: 0.8em;
    width: 90%;
    margin-bottom: 5%;
    font-weight: 400;
    text-align: center;
    margin-left: 4%;
  }
  
  #desktop{
  
    display: none !important;
    }
  
  .completa{

  
    font-style: normal;
    font-size: 0.7em;
   
    color: #FFF;
    width: 97%;
    display: block;
    margin-left: 0%;
  }
  .imagenMobile {
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
    margin-left:0%;
  }
  
  .mb-16{
  
    font-size: 0.90em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
  }
  .mb-15{

    font-size: 1.5em;
    color: #00336a;
    text-align: center;
    font-family: 'Poppins', sans-serif;

  }
  
  
  } 

  @media (min-width: 400px) and (max-width: 449px){
    .logoDesktop{
      display: none;

    }

.textoSuperior{
  display: none;
}

#mobile{
  display:block !important;
  font-size: 1em;
  width: 90%;
  margin-bottom: 5%;
  font-weight: 400;
  text-align: center;
  margin-left: 4%;
}

#desktop{

  display: none !important;
  }

.completa{


  font-style: normal;
  font-size: 0.7em;
 
  color: #FFF;
  width: 97%;
  display: block;
  margin-left: 0%;
}
.imagenMobile {
  width: 90%;
  height: 100%;
  display: block;
  margin: auto;
  margin-left: 2%;
}

.mb-16{

  font-size: 0.90em;
color: #00336a;
text-align: center;
font-family: 'Poppins', sans-serif;

}


} 

    

    @media (min-width: 450px) and (max-width: 499px){
    .logoDesktop{
      display: none;

    }

.textoSuperior{
  display: none;
}

#mobile{
  display:block !important;
  font-size: 0.79em;
  width: 90%;
  margin-bottom: 5%;
  font-weight: 400;
  text-align: center;
  margin-left: 4%;
}

#desktop{

  display: none !important;
  }

.completa{


  font-style: normal;
  font-size: 1em;
 
  color: #FFF;
  width: 97%;
  display: block;
  margin-left: 0%;
}
.imagenMobile {
  width: 90%;
  height: 100%;
  display: block;
  margin: auto;
  margin-left: 2%;
}

.mb-15{

  font-size: 1.4em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}
.mb-16{

  font-size: 0.90em;
color: #00336a;
text-align: center;
font-family: 'Poppins', sans-serif;

}

} 




  
  @media (min-width: 500px) and (max-width: 576px){
    .logoMobile{
      display: none;
      width: 100%;
      max-width: 100%;

    }
    #mobile{
      display:block !important;
      font-family: 'Poppins', sans-serif;
      font-size: 0.8em;
width: 90%;
margin-bottom: 5%;
font-weight: 400;
text-align: center;
margin-left: 4%;
      
    }

    #desktop{

      display: none !important;
    }

    .mb-16{

      font-size: 0.90em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
    }

    .completa{



font-style: normal;
font-size: 1em;

color: #FFF;
    }

    .chiquito{
      font-size: 0.7em;
    }
    .imagenMobile {
      width: 70%;
      height: 100%;
      display: block;
      margin: auto;
    }
    .mb-15{

      font-size: 1.7em;
      color: #00336a;
      text-align: center;
      font-family: 'Poppins', sans-serif;

    }
  
  }

  @media (min-width: 768px) and (max-width: 799px) {
    .textoSuperior{
      display: block;
    }
    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: auto;
      margin-right: auto;
    height: 430px;
      float: center;
      margin-top: 4%;
    }

    .mb-15{

      font-size: 1.7em;
      color: #00336a;
      text-align: center;
      font-family: 'Poppins', sans-serif;

    }

    .mb-16{

      font-size: 1.2em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;

    }

    .chiquito{
      font-size: 0.9em;
    }

    .completa{



font-style: normal;
font-size: 0.69em;

color: #FFF;
    }

  }
  @media (min-width: 800px) and (max-width: 867px) {

    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: -4%;
      margin-right: auto;
      margin-top: 3%;
    height: 440px;
      float: center;
    }
    .mb-16{

      font-size: 1.2em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
    }

    .completa{


font-weight: 400;
font-style: normal;
font-size: 0.70em;
line-height: 20pt;
color: #FFF;
    }

    .chiquito{
      font-size: 0.99em;
    }

    .mb-15{

      font-size: 1.6em;
      color: #00336a;
      text-align: center;
      font-family: 'Poppins', sans-serif;

    }

  }

  @media (min-width: 868px) and (max-width: 899px) {

    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: -4%;
      margin-right: auto;
      margin-top: 3%;
    height: 480px;
      float: center;
    }
    .mb-16{

      font-size: 1.2em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
    }

    .completa{


font-weight: 400;
font-style: normal;
font-size: 0.70em;
line-height: 20pt;
color: #FFF;
    }

    .chiquito{
      font-size: 0.99em;
    }

    .mb-15{

      font-size: 1.6em;
      color: #00336a;
      text-align: center;
      font-family: 'Poppins', sans-serif;

    }

  }
 

  @media (min-width: 900px) and (max-width: 991px) {

    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: -4%;
      margin-right: auto;
      margin-top: 3%;
    height: 480px;
      float: center;
    }
    .mb-16{

      font-size: 1.2em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
    }

    .completa{


font-weight: 400;
font-style: normal;
font-size: 0.70em;
line-height: 20pt;
color: #FFF;
    }

    .chiquito{
      font-size: 0.99em;
    }

    .mb-15{

      font-size: 1.8em;
      color: #00336a;
      text-align: center;
      font-family: 'Poppins', sans-serif;

    }

  }
  @media (min-width: 992px) and (max-width: 999px) {
    
    
    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: 4%;
      margin-right: auto;
      margin-top: 3%;
    height: 520px;
      float: center;
    }

    .mb-16{

      font-size: 1em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
    }

    .completa{


font-weight: 400;
font-style: normal;
font-size: 0.70em;
line-height: 20pt;
color: #FFF;
    }

    .chiquito{
      font-size: 0.99em;
    }

  }

  @media (min-width: 1000px) and (max-width: 1099px) {

    .logoDesktop{   
      position: fixed;
      display: block;
      margin-left: 4%;
      margin-right: auto;
      margin-top: 3%;
    height: 550px;
      float: center;
    }


    .mb-16{

      font-size: 0.9em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
    }

    .completa{


font-weight: 400;
font-style: normal;
font-size: 0.83em;
line-height: 20pt;
color: #FFF;
    }

    .chiquito{
      font-size: 0.99em;
    }

  }

  @media (min-width: 1100px) and (max-width: 1199px) {

    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: -3%;
      margin-right: auto;
      margin-top: 2%;
    height: 580px;
      float: center;
    }

    .mb-16{

      font-size: 0.9em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
    }

    .completa{


font-weight: 400;
font-style: normal;
font-size: 0.83em;
line-height: 20pt;
color: #FFF;
    }

    .chiquito{
      font-family: 'Poppins', sans-serif;
    }

  }


  @media (min-width: 1200px) and (max-width: 1299px) {


    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: 3%;
      margin-right: auto;
      margin-top: 2%;
    height: 580px;
      float: center;
    }

    .mb-16{

      font-size: 0.9em;
  color: #00336a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
    }

    .completa{


font-weight: 400;
font-style: normal;
font-size: 1em;
line-height: 20pt;
color: #FFF;
    }

  }


  @media (min-width: 1300px) and (max-width: 1399px) {


    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: -2%;
      margin-right: auto;
      height: 580px;
      float: center;
      margin-top: 2%;
    }

    .mb-16{

      font-size: 0.9em;
  color: #00336a;
  text-align: center;
    }

    .completa{

   
font-weight: 400;
font-style: normal;
font-size: 1em;
line-height: 20pt;
color: #FFF;
    }

  }

  @media (min-width: 1400px) {

    .logoDesktop{
      position: fixed;
      display: block;
      margin-left: -7%;
      margin-right: auto;
      height: 800px;
      float: center;
      margin-top: 1%;
    }

    .mb-16{

      font-size: 0.9em;
  color: #00336a;
  text-align: center;
    }

    .completa{


font-weight: 400;
font-style: normal;
font-size: 1em;
line-height: 20pt;
color: #FFF;
    }

  }


  .row > * {
    padding-right: 0px !important;
  }


  .exito{
    width: 95%
  }
  
/* quitar scroll horizontal*/
  body{
    overflow-x: hidden;
 }

 .losUTM{
  display: none;
}